<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit Optimization</title>
</head>
<body>
  
  {% extends "base.html" %}
  {% block content %}
    <h1>Track Your Optimization</h1>

        <label for="file">Upload Optimization File:</label>
        <input type="text" name="receipt" placeholder="optimization receipt">
        <button type="submit">Submit</button>
  {% endblock %}
  
</body>
</html>
